<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>User</h1>
<br>
<div>

</div>
<br>
<br>
<br>
<form th:action="@{/user/save}" th:object="${user}" method="post">
    <div>
        <label for="name">User name</label>
        <input type="text" th:field="*{firstName}" id="name" th:value="${user.firstName}">
        <br>
        <br>
        <label for="lastName">User last name</label>
        <input type="text" th:field="*{lastName}" id="lastName" th:value="${user.lastName}">
        <br>
        <br>
        <label for="email">User email</label>
        <input type="text" th:field="*{email}" id="email" th:value="${user.email}">
        <br>
        <br>
        <label for="age">User age</label>
        <input type="text" th:field="*{age}" id="age" th:value="${user.age}">
        <br>
        <br>
        <label for="roles">User role</label>
        <input type="text" th:field="*{roles}" id="roles" th:value="${user.roles}">
        <br>
    </div>
</form>

<br>
<br>
<form th:action="@{/logout}"
      method="post">
    <input type="submit"
           value="Log out" />
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
</form>
</body>
</html>